.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background: #090909;
}

.timeClock {
    font-size: 100px;
    font-weight: 900;
    color: white;
}

@media screen and  (max-width: 768px) {
    .main {
        padding: 2rem;
    }

    .timeClock {
        font-size: 30px;
    }
}